{% extends "base.html" %}
{% load staticfiles %}
{% block additional_css %}
  <link type="text/css" href="{% static "main.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <div id="header">
    <h1>AllBooks</h1>
  </div>
  <div id="leftmenu">
    <ul>
      {% if user.is_authenticated %}
        {% url "change_profile" as page_url %}
        <li><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>Профиль</a></li>
        <li>&nbsp;</li>
      {% endif %}
      {% url "main" as page_url %}
      <li><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>Главная</a></li>
      <li>&nbsp;</li>
      {% for object in genres %}
        {% url "goods_index" pk=object.pk as page_url %}
        <li{% if forloop.first %} class="indented"{% endif %}><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>{{ object.name }}</a></li>
      {% endfor %}
      <li>&nbsp;</li>
      <li class="indented"><a href="{% url 'django.contrib.flatpages.views.flatpage' url='help' %}">Справка</a></li>
      {% if user.is_authenticated %}
        <li class="indented"><a href="{% url "logout" %}">Выйти</a></li>
      {% else %}
        <li class="indented"><a href="{% url "registration" %}">Зарегистрироваться</a></li>
        <li class="indented"><a href="{% url "login" %}">Войти</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="main">
    {% block main %}
    {% endblock %}
  </div>
  <div id="footer">
    <p>Все права принадлежат мне.</p>
  </div>
{% endblock %}
